[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/NativeWinAppFramework"]
	path = thirdparty/NativeWinAppFramework
	url = https://github.com/keqing996/NativeWinAppFramework.git
